{% extends 'base.html' %}


{% block title %}Home{% endblock title %}


{% block content %}
<h1>Bug Tracker App Home</h1>

<div class="card">
            <h5 class="card-header">NEW</h5>
            <div class="card-body">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Assigned</th>
      <th scope="col">Reported By</th>
      <th scope="col">Ticket Age</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in new_tickets %}
        <tr>
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.title}}</td>
            <td>{{ticket.assignedto}}</td>
            <td>{{ticket.reportedby}}</td>
            <td>{{ticket.time_submitted}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
            </div>
</div>

<div class="card">
            <h5 class="card-header">DONE</h5>
            <div class="card-body">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Assigned</th>
      <th scope="col">Reported By</th>
      <th scope="col">Ticket Age</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in done_tickets %}
        <tr>
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.title}}</td>
            <td>{{ticket.assignedto}}</td>
            <td>{{ticket.reportedby}}</td>
            <td>{{ticket.time_submitted}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
            </div>
<div class="card">
            <h5 class="card-header">IN PROGRESS</h5>
            <div class="card-body">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Assigned</th>
      <th scope="col">Reported By</th>
      <th scope="col">Ticket Age</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in in_progress_tickets %}
        <tr>
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.title}}</td>
            <td>{{ticket.assignedto}}</td>
            <td>{{ticket.reportedby}}</td>
            <td>{{ticket.time_submitted}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
            </div>

<div class="card">
            <h5 class="card-header">INVALID</h5>
            <div class="card-body">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Assigned</th>
      <th scope="col">Reported By</th>
      <th scope="col">Ticket Age</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in invalid_tickets %}
        <tr>
            <th scope="row">{{ticket.id}}</th>
            <td>{{ticket.title}}</td>
            <td>{{ticket.assignedto}}</td>
            <td>{{ticket.reportedby}}</td>
            <td>{{ticket.time_submitted}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
            </div>
</div>

{% endblock %}

