{% extends 'base.html' %}


{% block title %}User Tickets{% endblock title %}


{% block content %}
<h1>{{request.user}}'s Tickets</h1>


{% comment %} {{ ticket_list }} {% endcomment %}
{% for ticket in ticket_list  %}
    {% if ticket.status == 'New' %}
        <h3>New Tickets</h3>
        {{ ticket.id }}
        {{ ticket.title }}
        {{ ticket.assignedto }}
        <a href="{% url 'userticketlist' ticket.createdby %}">{{ticket.createdby}}</a>
    {% elif ticket.status == 'In Progress' %}
        <h3>In Progress Tickets</h3>
        {{ ticket.id }}
        {{ ticket.title }}
        {{ ticket.assignedto }}
        <a href="{% url 'userticketlist' ticket.createdby %}">{{ticket.createdby}}</a>
    {% elif ticket.status == 'Done' %}
        <h3>Done Tickets</h3>
        {{ ticket.id }}
        {{ ticket.title }}
        {{ ticket.assignedto }}
        <a href="{% url 'userticketlist' ticket.createdby %}">{{ticket.createdby}}</a>
    {% elif ticket.status == 'Invalid' %}
        <h3>Invalid Tickets</h3>
        {{ ticket.id }}
        {{ ticket.title }}
        {{ ticket.assignedto }}
        <a href="{% url 'userticketlist' ticket.createdby %}">{{ticket.createdby}}</a>
    {% endif %}
{% endfor %}


{% endblock %}

